<a href="https://colab.research.google.com/github/GunelXelilli/Pandas2/blob/main/pandastaps1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('/content/imdbTop250.csv')
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [6]:
df.columns

Index(['Ranking', 'IMDByear', 'IMDBlink', 'Title', 'Date', 'RunTime', 'Genre',
       'Rating', 'Score', 'Votes', 'Gross', 'Director', 'Cast1', 'Cast2',
       'Cast3', 'Cast4'],
      dtype='object')

In [7]:
df.head(10)
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [8]:
df.shape

(6500, 16)

In [9]:
df.dtypes

Ranking       int64
IMDByear      int64
IMDBlink     object
Title        object
Date          int64
RunTime       int64
Genre        object
Rating      float64
Score       float64
Votes         int64
Gross       float64
Director     object
Cast1        object
Cast2        object
Cast3        object
Cast4        object
dtype: object

In [10]:
df.isnull().sum()

Ranking       0
IMDByear      0
IMDBlink      0
Title         0
Date          0
RunTime       0
Genre         0
Rating        0
Score       826
Votes         0
Gross       809
Director      0
Cast1         0
Cast2         0
Cast3         8
Cast4         8
dtype: int64

In [11]:
df.isnull()

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6496,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
6497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6498,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False
6499,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False

In [18]:
df['Score'] = pd.to_numeric(df['Score'], errors='coerce')
df['Score'] = df['Score'].fillna(df['Score'].median())
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,NaN,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,NaN,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,NaN,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,NaN,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,NaN,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,NaN,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [27]:
df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')
df['Gross'] = df['Gross'].fillna(df['Gross'].mean())
df['Gross']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6495   NaN
6496   NaN
6497   NaN
6498   NaN
6499   NaN
Name: Gross, Length: 6500, dtype: float64

In [23]:
df['Cast3'] = df['Cast3'].fillna(df['Cast3'].mode()[0])
df['Cast4'] = df['Cast4'].fillna(df['Cast4'].mode()[0])
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,NaN,1299781,NaN,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,NaN,2529673,NaN,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,NaN,665213,NaN,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,NaN,1045626,NaN,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,Carrie Fisher,Billy Dee Williams
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,NaN,57995,NaN,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,NaN,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,NaN,416207,NaN,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [24]:
df['Rating'].max()

9.3

In [25]:
df['Rating'].min()

5.5

In [28]:
df['Rating'].mean()

np.float64(8.171430769230769)

In [29]:
df[['Rating','Title']].max()

Rating         9.3
Title     Zootopia
dtype: object

In [30]:
df[['Rating','Title']].min()

Rating           5.5
Title      Babylon 5
dtype: object

In [31]:
df['Date'].min()

1920

In [32]:
df['Date'].max()

2021

In [33]:
df[df['Rating']>8.5].sort_values(by='Title',ascending=True).head(10)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
2762,13,2007,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
3507,8,2010,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
2269,20,2005,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
273,24,1997,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
1523,24,2002,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
3755,6,2011,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
4754,5,2015,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
774,25,1999,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
2020,21,2004,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
6004,5,2020,/title/tt0050083/,12 Angry Men,1957,96,"Crime, Drama",9.0,NaN,747360,NaN,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler

In [ ]:
df[df['Rating'] > 9.0].sort_values(by='Rating', ascending=False).head(5)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,None,2529673,None,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
250,1,1997,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,None,2529673,None,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
500,1,1998,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,None,2529673,None,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1001,2,2000,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,None,2529673,None,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
753,4,1999,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,None,2529673,None,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler

In [34]:
df.loc[
    (df['Date'] >= 2000) & (df['Date'] <= 2010),
    ['Title','Date']
]

                               Title  Date
1050                   Almost Famous  2000
1059  Crouching Tiger, Hidden Dragon  2000
1076                       Gladiator  2000
1137              Dancer in the Dark  2000
1149             Requiem for a Dream  2000
...                              ...   ...
6482            In the Mood for Love  2000
6483                    Hotel Rwanda  2004
6486                   Into the Wild  2007
6488                   Amores perros  2000
6491                   Before Sunset  2004

[1087 rows x 2 columns]

In [35]:
df.groupby(['Title','Date']).mean(numeric_only=True) #

,,Ranking,IMDByear,RunTime,Rating,Score,Votes,Gross
Title,Date,,,,,,,
Babylon 5,1993,81.000000,1996.000000,89.0,6.5,NaN,9194.0,NaN
12 Angry Men,1957,14.384615,2008.500000,96.0,9.0,NaN,747360.0,NaN
12 Monkeys,1995,181.285714,2006.857143,129.0,8.0,NaN,602534.0,NaN
12 Years a Slave,2013,196.125000,2017.500000,134.0,8.1,NaN,675338.0,NaN
1917,2019,110.000000,2020.500000,119.0,8.3,NaN,524911.0,NaN
...,...,...,...,...,...,...,...,...
You Can Count on Me,2000,214.500000,2001.500000,111.0,7.5,NaN,29509.0,NaN
Young Frankenstein,1974,160.833333,2001.500000,106.0,8.0,NaN,153806.0,NaN
Your Name.,2016,75.800000,2019.000000,106.0,8.4,NaN,237651.0,NaN
Z,1969,194.000000,2021.000000,127.0,8.2,NaN,27174.0,NaN
Zootopia,2016,228.000000,2016.000000,108.0,8.0,NaN,470189.0,NaN

In [36]:
df_sorted = df.sort_values(by='Rating', ascending=False)
titles_sorted = df_sorted['Title']
print(titles_sorted)

1            The Shawshank Redemption
6389                         Jai Bhim
4500         The Shawshank Redemption
4750         The Shawshank Redemption
500          The Shawshank Redemption
                    ...
177                         Bad Taste
699                              Antz
164                        Phenomenon
144     Cheech and Chong's Next Movie
145                      Tom and Huck
Name: Title, Length: 6500, dtype: object

In [37]:
# Rating × votes ilə “IMDB_score_power” adlı yeni sütun yaradın (yüksək reytinq * çox səs = daha güclü film).
df['IMDb_score_power']=df['Rating']*df['Votes']
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4,IMDb_score_power
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,NaN,1299781,NaN,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,11178116.6
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,NaN,2529673,NaN,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,23525958.9
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,NaN,665213,NaN,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd,5388225.3
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,NaN,1045626,NaN,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin,8887821.0
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,Carrie Fisher,Billy Dee Williams,442522.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,NaN,57995,NaN,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash,469759.5
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,NaN,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray,383275.8
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,NaN,416207,NaN,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon,3371276.7
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,314781.6
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan,303534.3

In [38]:
# Datasetdə təkrarlanan sətir (duplicate) olub-olmadığını yoxlayın və varsa silin.
df.duplicated().sum() #dublicat deyer yoxdur
#df.drop_duplicates(inplace=True)

np.int64(0)

In [39]:
# Directora görə qruplaşdırın və hər bir rejissorun neçə film çəkdiyini tapın.
# → Ən çox filmi olan ilk 5 rejissoru göstər.
# Rejissorlara görə qruplaşdırıb film sayını tapmaq
director_counts = df.groupby('Director')['Title'].count().reset_index()
# Sütunun adını dəyişddim
director_counts.rename(columns={'Title':'Film_Count'}, inplace=True)
# Ən çox filmi olan ilk 5 rejissor
top5_directors = director_counts.sort_values(by='Film_Count', ascending=False).head(5)
print(top5_directors)

             Director  Film_Count
11   Alfred Hitchcock         222
373   Stanley Kubrick         199
384  Steven Spielberg         154
40       Billy Wilder         145
249   Martin Scorsese         131